:root {
  --clr-primary: #e98b2c;
  --clr-dark: #1b1b22;
  --clr-light-dark: #32323a;
  --clr-white: #ffffff;
  --clr-light-white: #c8c8c8; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  background-color: var(--clr-dark);
  color: var(--clr-light-white);
  overflow-x: hidden; }

img {
  max-width: 100%;
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-white);
  font-weight: 600; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 20px; }

::-webkit-scrollbar {
  width: 3px; }

::-webkit-scrollbar-track {
  background-color: none; }

::-webkit-scrollbar-thumb {
  background-color: #4d4d5a; }

button {
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  display: inline-block;
  cursor: pointer; }

.text-bold {
  font-weight: 600; }

.text-primary {
  color: var(--clr-primary); }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.flex {
  display: flex; }

.justify-center {
  justify-content: center; }

.gap-4 {
  gap: 4px; }

.px-15 {
  padding-left: 15px;
  padding-right: 15px; }

.flex-wrap {
  flex-wrap: wrap; }

.hidden {
  display: none !important; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn {
  padding: 9px 25px;
  background-color: var(--bg-btn);
  color: var(--clr-btn);
  border: none;
  font-weight: 600;
  position: relative; }
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--clr-white);
    transform: translate(4px, 4px);
    transition: transform 0.3s;
    pointer-events: none; }
  @media (min-width: 992px) {
    .btn:hover::before {
      transform: translate(0); } }
  .btn-primary {
    --bg-btn: var(--clr-primary);
    --clr-btn: var(--clr-white); }

.align-center {
  align-items: center; }

.justify-between {
  justify-content: space-between; }

.mr-5 {
  margin-right: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mt-30 {
  margin-top: 30px; }

.mb-15 {
  margin-bottom: 15px; }

.overflow-y-hidden {
  overflow-y: hidden; }

.invisible {
  visibility: hidden; }

.about__details {
  text-align: center;
  flex-direction: column; }

.about__img {
  max-width: 150px;
  border-radius: 50%;
  border: 5px solid var(--clr-light-dark);
  margin-bottom: 15px; }

.about__container {
  max-width: 620px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.about__heading {
  margin-bottom: 8px; }

.about__link {
  position: relative; }
  .about__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--clr-primary);
    transition: width 0.3s; }
  .about__link:hover::before {
    width: 100%; }

.skills__heading {
  margin: 20px 0 5px; }

.skills__item {
  background-color: var(--clr-light-dark);
  padding: 2px 10px;
  border-radius: 4px; }

.bg-animation-effect {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly; }

.bg-animation-effect div {
  height: 4px;
  width: 4px;
  background-color: var(--clr-light-dark);
  margin-left: calc((100% - 40px) / 11);
  border-radius: 50%; }

.bg-animation-effect div:nth-child(odd) {
  animation: moveUp 8s linear infinite; }

@keyframes moveUp {
  100% {
    transform: translateY(-12.5vh); } }

.bg-animation-effect div:nth-child(even) {
  animation: moveDown 9s linear infinite; }

@keyframes moveDown {
  100% {
    transform: translateY(12.5vh); } }

.portfolio__container {
  margin-top: 100px;
  margin-bottom: 50px; }

.portfolio__heading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px; }

.portfolio__filter-status {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-light-dark);
  font-size: 20px;
  color: var(--clr-white);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s 0.2s; }
  .portfolio__filter-status p {
    opacity: 0;
    transition: opacity 0.3s; }
  .portfolio__filter-status--open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s; }
    .portfolio__filter-status--open p {
      opacity: 1; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.filter {
  row-gap: 10px;
  column-gap: 8px;
  margin-bottom: 30px; }
  .filter__button {
    padding: 4px 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--clr-light-dark);
    color: var(--clr-light-white); }
    .filter__button--active {
      background-color: var(--clr-primary);
      color: var(--clr-white);
      cursor: auto; }

.portfolio-item {
  display: none; }
  .portfolio-item--show {
    display: block; }
  .portfolio-item-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 0 15px; }
    @media (min-width: 500px) {
      .portfolio-item-wrapper {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 992px) {
      .portfolio-item-wrapper {
        grid-template-columns: repeat(3, 1fr); } }
  .portfolio-item__thumbnail {
    position: relative; }
    .portfolio-item__thumbnail::before, .portfolio-item__thumbnail::after {
      content: "";
      position: absolute;
      left: 0;
      height: 0;
      width: 100%;
      background-color: var(--clr-light-dark);
      opacity: 0.8;
      transition: height 0.3s; }
    .portfolio-item__thumbnail::before {
      top: 0; }
    .portfolio-item__thumbnail::after {
      bottom: 0; }
  .portfolio-item:hover .portfolio-item__thumbnail::before,
  .portfolio-item:hover .portfolio-item__thumbnail::after {
    height: 50%; }
  .portfolio-item__btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transform: scale(0.5);
    transition: 0.3s; }
  .portfolio-item:hover .portfolio-item__btn {
    transition-delay: 0.2s;
    opacity: 1;
    transform: scale(1); }
  .portfolio-item__heading {
    font-size: 20px;
    margin: 10px 0 5px; }
  .portfolio-item__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top left; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  visibility: hidden; }
  .modal--open {
    visibility: visible; }
  .modal::before, .modal::after {
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: var(--clr-light-dark);
    z-index: -1;
    transition: 0.5s 0.5s; }
  .modal--open::before, .modal--open::after {
    width: 100%;
    transition-delay: 0s; }
  .modal::before {
    top: 0;
    left: 0; }
  .modal::after {
    right: 0;
    bottom: 0; }
  .modal__transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--clr-dark);
    display: none; }
    .modal__transition--prev, .modal__transition--next {
      display: block; }
    .modal__transition--next {
      animation: nextItem 1s forwards; }
    .modal__transition--prev {
      animation: prevItem 1s forwards; }

@keyframes nextItem {
  0% {
    transform: translateX(-100%); }
  40%,
  60% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }

@keyframes prevItem {
  0% {
    transform: translateX(100%); }
  40%,
  60% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }
  .modal__overlay {
    height: 100vh;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20%); }
  .modal--open .modal__overlay {
    opacity: 1;
    transition-delay: 0.5s;
    transform: translateY(0);
    overflow-y: auto; }
  .modal__content {
    max-width: 850px;
    margin: 50px auto 60px; }
  .modal__header {
    position: relative; }
  .modal__counter-wrapper {
    margin-bottom: 15px;
    padding-right: 50px;
    gap: 10px;
    font-size: 20px; }
  .modal__close {
    width: 40px;
    height: 40px;
    background-color: var(--clr-dark);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0; }
    .modal__close::before, .modal__close::after {
      content: "";
      width: 20px;
      height: 2px;
      background-color: var(--clr-light-white);
      position: absolute;
      transition: transform 0.3s; }
    .modal--open .modal__close::before {
      transform: rotate(45deg); }
    .modal--open .modal__close::after {
      transform: rotate(-45deg); }
    .modal__close:hover::before, .modal__close:hover::after {
      transform: rotate(0); }
  .modal__thumbnail {
    padding: 20px 0; }
  .modal__body {
    padding: 15px 0; }
  .modal__footer {
    padding: 40px 0 0; }
  .modal__small-img {
    max-width: 120px; }
  .modal__next-work {
    flex-direction: column;
    align-items: flex-end;
    text-align: right; }

.portfolio-item__desc {
  margin-bottom: 30px; }
