*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  background-color: var(--clr-dark);
  color: var(--clr-light-white);
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-white);
  font-weight: 600;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
}
