.text-bold {
  font-weight: 600;
}

.text-primary {
  color: var(--clr-primary);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.gap-4 {
  gap: 4px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.flex-wrap {
  flex-wrap: wrap;
}
