@use '../variables' as v;

:root {
  --clr-primary: #9e9e9e;
  --clr-dark: #1b1b22;
  --clr-light-dark: #32323a;
  --clr-white: #{v.$clr-white};
  --clr-white-hover: #{v.$clr-white-hover};
  --clr-light-white: #c8c8c8;
}
