.login input, .login textarea {
  border-bottom: 1px solid #6e6e85;
  padding: 5px;
  margin-right: 5px;
  color: #eeee;
}

.login textarea {
  width: 500px;
  height: 250px;
}

.login button {
  margin-top: 10px;
  background: black;
  color: #eeee;
  padding: 5px 20px;
}

.login select {
  background: black;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px 0;
}
