.about {
  &__details {
    text-align: center;
  }

  &__img {
    border-radius: 50%;
    border: 5px solid var(--clr-light-dark) !important;
  }

  &__container {
    max-width: 620px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    margin-bottom: 8px;
  }

  &__social-wrapper {
    gap: 10px;
  }
}
