.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  visibility: hidden;

  &--open {
    visibility: visible;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 50%;
    background-color: var(--clr-light-dark);
    z-index: -1;
    transition: 0.5s 0.5s;
  }

  &--open::before,
  &--open::after {
    width: 100%;
    transition-delay: 0s;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    right: 0;
    bottom: 0;
  }

  &__transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--clr-dark);
    display: none;

    &--prev,
    &--next {
      display: block;
    }

    &--next {
      animation: nextItem 1s forwards;
    }

    &--prev {
      animation: prevItem 1s forwards;
    }

    // 0 -> from left to right 40 (covered) -> wait 60 -> to the right 100
    @keyframes nextItem {
      0% {
        transform: translateX(-100%);
      }

      40%,
      60% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(100%);
      }
    }

    @keyframes prevItem {
      0% {
        transform: translateX(100%);
      }

      40%,
      60% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-100%);
      }
    }
  }

  &__overlay {
    height: 100vh;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20%);
  }

  &--open &__overlay {
    opacity: 1;
    transition-delay: 0.5s;
    transform: translateY(0);
    overflow-y: auto;
  }

  &__content {
    max-width: 850px;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  &__header {
    position: relative;
    overflow-x: hidden;
    margin-bottom: 30px;
  }

  &__heading {
    margin-top: 30px;
  }

  &__counter {
    &-wrapper {
      margin-bottom: 15px;
      padding-right: 50px;
      gap: 10px;
      font-size: 20px;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
  }

  &--open &__close {
    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      transform: rotate(0);
    }
  }

  &__thumbnails--transition {
    transition: 0.4s 0.8s;
  }

  &__body {
    a {
      color: var(--clr-primary);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__btns-wrapper {
    display: flex;
    gap: 8px;
    margin-top: 15px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__techs-wrapper {
    display: flex;
    gap: 8px;
  }

  &__tech {
    display: block;
    padding: 4px 10px;
    border-radius: 4px;
    text-transform: uppercase;
    color: var(--clr-light-white);
    font-size: 12px;
    font-weight: 600;
    background-color: var(--clr-dark);
  }

  &__footer {
    margin-top: 60px;
  }

  &__small-img {
    max-width: 120px;
  }

  &__next-work {
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }

  &__carousel-btn-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    gap: 15px;
    margin-bottom: 20px;
    z-index: 9999;
  }

  &__carousel-prev-btn,
  &__carousel-next-btn {
    background: none;
    border: none;
    width: 80px;
    position: relative;
    opacity: 0.3;
    transition: 0.4s;
    display: flex;
    align-items: center;

    &:hover {
      opacity: 1;
    }
  }

  &__carousel-prev-btn {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65) 0px,
        rgba(0, 0, 0, 0) 100%
      )
      rgba(0, 0, 0, 0);

    &:hover .chevron-left::before {
      transform: rotate(25deg);
    }

    &:hover .chevron-left::after {
      transform: rotate(155deg);
    }
  }

  &__carousel-next-btn {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0px,
        rgba(0, 0, 0, 0.65) 100%
      )
      rgba(0, 0, 0, 0);

    &:hover .chevron-right::before {
      transform: rotate(-25deg);
    }

    &:hover .chevron-right::after {
      transform: rotate(-155deg);
    }
  }
}

.chevron-left,
.chevron-right {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  transition: 0.4s;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--clr-light-white);
    transition: 0.4s;
    transform-origin: bottom;
  }

  &::before {
    top: -50%;
  }

  &::after {
    top: calc(-50% - 1px);
  }

  &--active {
    transition-delay: 0.4s;
  }
}

.chevron-left {
  right: 50%;
  transform: translateX(50%);

  &::before,
  &::after {
    left: 0;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(135deg);
  }

  &--active {
    right: 100%;
    transform: translateX(0);
  }

  &--active::before,
  &--active::after {
    transform: rotate(90deg) !important;
  }
}

.chevron-right {
  left: 50%;
  transform: translateX(-50%);

  &::before,
  &::after {
    right: 0;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(-135deg);
  }

  &--active {
    left: 100%;
    transform: translateX(0);
  }

  &--active::before,
  &--active::after {
    transform: rotate(-90deg) !important;
  }
}

.portfolio-item__desc {
  margin-bottom: 15px;
}

.modal__thumbnails-wrapper {
  position: relative;
  margin: 30px 0 15px;
  user-select: none;
}

.dot-indicators {
  gap: 10px;

  &__item {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    background-color: var(--clr-dark);
    transform: scale(0.6);
    transition: 0.4s;

    &:hover,
    &--active {
      transform: scale(1);
      background-color: var(--clr-primary);
    }
  }
}
