.about {
  &__details {
    text-align: center;
    flex-direction: column;
  }

  &__img {
    max-width: 150px;
    border-radius: 50%;
    border: 5px solid var(--clr-light-dark);
    margin-bottom: 15px;
  }

  &__container {
    max-width: 620px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    margin-bottom: 8px;
  }

  &__link {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: var(--clr-primary);
      transition: width 0.3s;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

.skills {
  &__heading {
    margin: 20px 0 5px;
  }

  &__item {
    background-color: var(--clr-light-dark);
    padding: 2px 10px;
    border-radius: 4px;
  }
}
