.bg-animation-effect {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.bg-animation-effect div {
  height: 4px;
  width: 4px;
  background-color: var(--clr-light-dark);
  margin-left: calc((100% - 40px) / 11);
  border-radius: 50%;
}

.bg-animation-effect div:nth-child(odd) {
  animation: moveUp 8s linear infinite;
}

@keyframes moveUp {
  100% {
    transform: translateY(-12.5vh);
  }
}

.bg-animation-effect div:nth-child(even) {
  animation: moveDown 9s linear infinite;
}

@keyframes moveDown {
  100% {
    transform: translateY(12.5vh);
  }
}
