.editProject {
  margin-top: 50px;
  margin-left: 50px;
}

.editProject input,
.editProject textarea {
  color: white;
}

.editProject button {
  margin-top: 10px;
  background: black;
  color: white;
  padding: 5px 20px;
}
